[Unit]
Description=Update the plocate database for the bcachefs filesystem at %f
RequiresMountsFor=%f

[Service]
Type=oneshot
ExecStart=/usr/bin/bcachefs-updatedb build %f --output /var/lib/plocate/bcachefs-%i.db
IOSchedulingClass=idle
Nice=19

CapabilityBoundingSet=CAP_SYS_ADMIN CAP_CHOWN CAP_DAC_READ_SEARCH
IPAddressDeny=any
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
PrivateNetwork=true
ProtectClock=true
ProtectControlGroups=true
ProtectHostname=true
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service @chown
